header {
    background-color: #3b5998;
    color: #ffffff;
}

header h2 {
    font-weight: 700;
}

.unlike {
    font-weight: 700;
}

.comments ul {
    padding: 0;
    list-style-type: none;
}

.comments ul li h5 {
    color: #3b5998;
    font-weight: 700;
    margin-bottom: 0;
}

.login-form {
    width: 100%;
    max-width: 400px;
}